# Compiled class file
*.class
scape-editor-bundle/**
osdc-bundle/**
#Need to keep .gz for cache and clipping, so don't gitignore it.
*.rar
*.7z
*.zip
*.kotlin_module
Valinor-S/src/META-INF/MANIFEST.MF
Valinor-C/src/META-INF/MANIFEST.MF
Valinor-S/default.ini
Valinor-S/votes.ini
Valinor-S/.idea/
Valinor-S/data/properties.json
Valinor-S/data/dump/**
Valinor-S/data/list/ids/**
Valinor-S/data/saves/**
out/**
Valinor-S/out/**
Valinor-C/out/**
.idea/
Valinor-S/default-test.ini
Valinor-S/donations-test.ini
Valinor-S/votes-test.ini
Valinor-S/err.txt
Valinor-S/out.txt
Valinor-S/data/logs/
Valinor-S/data/loginserver-info.txt
Valinor-S/data/offline-profiles-eco-scan.txt
Valinor-S/combat-sims.txt
Valinor-S/data/taskmanager-breakdown.txt
Valinor-S/data/properties1.json
Valinor-S/data/clipping/
Valinor-S/data/eco scan - ref by name.txt
Valinor-S/data/eco scan - refs.txt
Valinor-S/data/eco scan - summary.txt
Valinor-S/data/eco scan - votes.txt
Valinor-S/data/lag trigger info.txt
Valinor-S/data/osrs objs dump.txt
Valinor-S/data/properties-test.json
Valinor-S/data/local-properties.json
Valinor-S/data/tradingpost/**